{% extends 'base.html' %}

{% block body %}

    <h1>Welcome, {{ session['user_name'] }}</h1>
<!-- Create a div for every Most Loved Melon using a Jinja for loop -->
    {% if melons %}
    {% for melon in melons %}
    <div class='melon-div'>
        <h3>{{ session['user_name'] }}, this is a {{ melons[melon]['name'] }}</h3>
        <h2>Loved {{ melons[melon]['num_loves'] }} times.</h2>
        <img src={{ melons[melon]['img'] }}> -->
    </div>
    {% endfor %}
    {% endif %}

    <form action="/love-melon" method="POST">
        Which melon do you love the most? 
        <select name="melonvote">
            <option value="cren">Crenshaw</option>
            <option value="jubi">Jubliee Watermelon</option>
            <option value="sugb">Sugar Baby Watermelon</option>
            <option value="texb">Texas Golden Watermelon</option>
        </select>
        <input type="submit">
    </form>
{% endblock %}